.header-index {
    position:relative;
    margin-top:67.5px;
}

.header-index > h1 {
    margin:0;
    margin-top:80px;
    font-size:50px;
    line-height:43px;
    margin-bottom:28px;
    font-family:"ArticulatCF", "ArticulatCFv2";
    max-width:320px;
}

.header-index > p {
    margin:0;
    font-weight:bold;
    font-family:"ArticulatCF", "ArticulatCFv2";
    font-weight:600;
    font-size:20px;
    line-height:22.4px;
    max-width:725px;
}

.header-index > .arrow-downwards {
    display:block;
    margin-top:43px;
    margin-left:60px;
}

.header-index > h1,
.header-index > p,
.header-index > .arrow-downwards {
    margin-left:30px;
    margin-right:30px;
}

.line {
    width:550%;
    position:absolute;
    z-index:-1;
}

.line-thin {
    height:12px;
}

.line-thick {
    height:32px;
}

.line-one {
    top:178px;
    left:-200px;
    transform:rotate(-16.2deg);
    transform-origin:left;
}

.line-two {
    top:154px;
    left:-200px;
    transform:rotate(-7.7deg);
    transform-origin:left;
}

.line-three {
    top:22px;
    left:-175px;
    transform:rotate(9.5deg);
    transform-origin:left;
    z-index:-3;
}

.projects {
    display:flex;
    flex-wrap:wrap;
    max-width:1280px;
    margin:0 15px 0 15px;
}

.column {
    display:flex;
    max-width:380px;
    flex-direction:column;
    margin:0 auto
}

.column0 {
    margin-top:35px;
}

.project {
    display:flex;
    flex-direction:column;
    position:relative;
    max-width:380px;
    max-height:auto;
    margin-bottom:60px;
}

.project > .date {
    position:absolute;
    top:20.5px;
    right:0;
    background:#fff;
    padding:13.5px;
    font-family:"ArticulatCF", "ArticulatCFv2";
    font-weight:bold;
    font-size:16px;
    line-height:16px;
}

.project > .author,
.project > .title {
    font-size:30px;
    line-height:42px;
    font-weight:bold;
}

.project > .title {
    display:block;
    font-family:"ArticulatCF", "ArticulatCFv2";
}

.project > img {
    max-width:100%;
}

.project > a {
    text-decoration:none;
    font-size:17px;
    line-height:17px;
    font-family:"ArticulatCF", "ArticulatCFv2";
}

@media (min-width: 480px) {
    .projects {
        margin:0 60px 0 60px;
        justify-content:space-between;
    }
    
    .column {
        margin:0;
    }
    
    .column0 {
        margin-top:50px;
    }
    
    .header-index > p {
        margin-right:60px;
    }
    
    .header-index > h1,
    .header-index > .arrow-downwards {
        margin-left:60px;
        margin-right:43px;
    }
    
    .line-one {
        top:183px;
        left:-190px;
        transform:rotate(-16deg);
    }

    .line-two {
        top:160px;
        left:-190px;
        transform:rotate(-8.2deg);
    }

    .line-three {
        top:18px;
        left:-175px;
    }
}

@media (min-width: 768px) {
    .header-index > h1 {
        font-size:110px;
        line-height:97px;
        max-width:638px;
    }

    .header-index > p {
        font-size:24px;
        line-height:26.4px;
    }
    
    .header-index > p {
        max-width:768px;
    }

    .header-index > p {
        margin-right:76px;
    }

    .header-index > h1,
    .header-index > .arrow-downwards {
        margin-left:76px;
        margin-right:56px;
    }
    
    .line-thin {
        height:20px;
    }

    .line-thick {
        height:75px;
    }
    
    .line-one {
        top:328px;
        left:-180px;
        transform:rotate(-16.2deg);
    }
    
    .line-two {
        top:309px;
        left:-180px;
        transform:rotate(-7.5deg);
    }
    
    .line-three {
        top:90px;
    }
}

@media (min-width:992px) {
    .project {
        max-width:380px;
    }
    
    .column1 {
        margin-top:25px;
    }
    
    .header-index > h1,
    .header-index > p,
    .header-index > .arrow-downwards {
        margin-left:116px;
    }
    
    .line-one {
        top:330px;
        left:-150px;
    }

    .line-two {
        top:310px;
        left:-150px;
    }

    .line-three {
        top:80px;
        left:-175px;
    }
}

@media (min-width:1152px) {
    .project {
        max-width:340px;
    }
}

@media (min-width:1280px) {
    .project {
        max-width:380px;
    }
    
    .column0 {
        margin-top:112px;
    }
    
    .column1 {
        margin-top:154px;
    }
}