header.header-index {
    margin:0 auto;
    position:relative;
}

header.header-index > h1 {
    max-width:638px;
    margin-top:80px;
    font-size:110px;
    line-height:97px;
    margin-bottom:28px;
    font-family:"ArticulatCF", "ArticulatCFv2";
}

header.header-index > p {
    margin:0;
    max-width:685px;
    font-weight:bold;
    font-family:"ArticulatCF", "ArticulatCFv2";
    font-weight:600;
    font-size:24px;
    line-height:26.4px;
}

header.header-index > p.arrow-downwards {
    display:table;
    font-size:48pt;
    line-height:48pt;
    margin-left:-6px;
}

.line {
    width:150%;
    position:absolute;
    z-index:-1;
}

.line-thin {
    height:20px;
}

.line-thick {
    height:75px;
    top:130px;
}

.line-one {
    left:-175px;
    top:235px;
    transform:rotate(-17deg);
    transform-origin:left;
}

.line-two {
    left:-155px;
    top:215px;
    transform:rotate(-7.5deg);
    transform-origin:left;
}

.line-three {
    left:-175px;
    top:60px;
    transform:rotate(10.5deg);
    transform-origin:left;
    z-index:-3;
}

.projects {
    display:flex;
}

.project {
    position:relative;
    width:380px;
}

.project > .date {
    position:absolute;
    top:20.5px;
    right:0;
    background:#fff;
    padding:13.5px;
    font-family:"ArticulatCF", "ArticulatCFv2";
    font-weight:bold;
    font-size:16px;
    line-height:16px;
}

.project > .author,
.project > .title {
    font-size:30px;
    line-height:42px;
    font-weight:bold;
}

.project > .title {
    display:block;
    font-family:"ArticulatCF", "ArticulatCFv2";
}

@media (min-width: 768px) {
    header.header-index > h1,
    header.header-index > p {
        margin-left:60px;
    }

    header.header-index > p.arrow-downwards {
        margin-left:54px;
    }
    
    .line-one {
        left:-195px;
        top:330px;
        transform:rotate(-16.5deg);
    }

    .line-two {
        left:-175px;
        top:305px;
        transform:rotate(-7.2deg);
    }

    .line-three {
        left:-175px;
        top:85px;
    }
}